.Host {
    background-color: #fafbfd;
    color: #333;
    height: 100%;
    position: relative;
}

.Host > :nth-child(2) {
    height: 100%;
}

.Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    padding: .2rem .5rem;
    height: 3rem;
    z-index: 1;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
    background-color: rgba(0,0,0,.6);
}

.Header > * {
    font-size: 1.5rem;
}